/* Colors */

$color-primary: #8a71ec;

/* Fonts */

$font-light: 400;
$font-bold: 900;

$font-medium: 1.25em;
$font-large: 2.25em;
$font-very-large: 2.5em;


/* Gutters */

$small-gutter: 0.5em;


/* Media Queries */

$medium-screen-size: 576px;