input {
    padding: 0.5em;
    margin-bottom: 0.75em;
    border: 2px solid #d1d5db;
}

input:focus {
    outline: none;
    border-color: $color-primary;
    background-color: #e6e8ec;
}

input,
button {
    font-family: inherit;
    width: 100%; 
    border-radius: 5px;   
}

.btn {
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 1px;
    padding: 1em 0;
    border: none;
    cursor: pointer;
}

.btn-primary {
    color: white;
    background-color: #8a71ec;
    margin-top: 1em;    
}

.btn-primary:hover, .btn-primary:focus {
    background-color: #b7a7f6;
}

   